# ------------------------
# IntelliJ IDEA
# ------------------------
.idea/
*.iws
*.iml
*.ipr
out/

# ------------------------
# Logs
# ------------------------
*.log

# ------------------------
# OS (Linux, macOS, Windows)
# ------------------------
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# ------------------------
# Python
# ------------------------
*.pyc
__pycache__/
/venv/